[submodule "frontend_service"]
	path = services/frontend
	url = https://github.com/openvpn-manager/frontend_service.git
[submodule "webauth_service"]
	path = services/webauth
	url = https://github.com/openvpn-manager/webauth_service.git
[submodule "docs"]
	path = docs
	url = https://github.com/openvpn-manager/docs.git
[submodule "signing_service"]
	path = services/signing
	url = https://github.com/openvpn-manager/signing_service.git
[submodule "certtransparency_service"]
	path = services/certtransparency
	url = https://github.com/openvpn-manager/certtransparency_service.git
[submodule "pki_tool"]
	path = tools/pki_tool
	url = https://github.com/openvpn-manager/pki_tool.git
[submodule "tests/tiny-oidc"]
	path = tests/tiny-oidc
	url = https://github.com/authenti-kate/tiny-oidc.git
[submodule "tools/get_openvpn_config"]
	path = tools/get_openvpn_config
	url = https://github.com/openvpn-manager/get-openvpn-config.git
[submodule "deploy/with-docker"]
	path = deploy/with-docker
	url = https://github.com/openvpn-manager/deploy-with-docker.git
[submodule "deploy/with-helm"]
	path = deploy/with-helm
	url = https://github.com/openvpn-manager/deploy-with-helm.git
